/* /Components/FooterComponent.razor.rz.scp.css */
#contact[b-9g5siml5xh] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 5rem 0 3rem;
  width: 100vw;
}
/* /Components/HeaderComponent.razor.rz.scp.css */
#header[b-ye8s7f8ywb] {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: rgba(255,255,255,0.75);
  padding: 1rem;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-agupx8yfi6] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-agupx8yfi6] {
    flex: 1;
}

.sidebar[b-agupx8yfi6] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-agupx8yfi6] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-agupx8yfi6]  a, .top-row[b-agupx8yfi6]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-agupx8yfi6]  a:hover, .top-row[b-agupx8yfi6]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-agupx8yfi6]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-agupx8yfi6] {
        justify-content: space-between;
    }

    .top-row[b-agupx8yfi6]  a, .top-row[b-agupx8yfi6]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-agupx8yfi6] {
        flex-direction: row;
    }

    .sidebar[b-agupx8yfi6] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-agupx8yfi6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-agupx8yfi6]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-agupx8yfi6], article[b-agupx8yfi6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
